<div class="titulos">
    <h1>FORMULARIO SERIES</h1>
</div>

<div class="nav2">
    <div class="botones2"><a class="textos" [routerLink]="['/series']">SERIES</a></div>
    <div class="botones2"><a class="textos" [routerLink]="['/series/formulario-series']" [routerLinkActive]="['activo']">FORMULARIO</a></div>
</div>

<div class="caja">
<div class="caja2">    
    <h4 class="centrado">REGISTRA UNA NUEVA SERIE</h4>
    
        <div class="group-material-login">
            <input type="text" class="material-login-control" required="" maxlength="70">
            <span class="highlight-login"></span>
            <span class="bar-login"></span>
            <label><img src="../../../assets/img/esfera.svg" width="25" height="25">&nbsp;Nombres Serie.</label>
        </div>
        <div class="group-material-login">
            <input type="text" class="material-login-control" required="" maxlength="70">
            <span class="highlight-login"></span>
            <span class="bar-login"></span>
            <label><img src="../../../assets/img/netflix.svg" width="25" height="25">&nbsp;Temporadas.</label>
        </div>
        <div class="group-material-login">
            <input type="text" class="material-login-control" required="" maxlength="70">
            <span class="highlight-login"></span>
            <span class="bar-login"></span>
            <label><img src="../../../assets/img/calendario.svg" width="25" height="25">&nbsp;Estreno.</label>
        </div>
        <div class="group-material-login">
            <input type="text" class="material-login-control" required="" maxlength="70">
            <span class="highlight-login"></span>
            <span class="bar-login"></span>
            <label><img src="../../../assets/img/plataforma.svg" width="25" height="25">&nbsp;Plataforma.</label>
        </div>
    
</div>
</div>