<div class="titulos">
    <h1>SERIES</h1>
</div>

<div class="nav2">
    <div class="botones2"><a class="textos" [routerLink]="['/series']" [routerLinkActive]="['activo']">SERIES</a></div>
    <div class="botones2"><a class="textos" [routerLink]="['/series/formulario-series']" [routerLinkActive]="['activo']">FORMULARIO</a></div>
</div>

<div class="padre">
    <div class="hijo card puntero">
        <img class="tamaño-imagen imagen" src="../../../assets/img/3.jpg">
            <div class="card-body">
                <h4 class="card-title">Rick and morty</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <button type="button" class="btn btn-warning"><a class="icon-zoom-in-outline"></a></button>
                <button type="button" class="btn btn-primary "><a class="icon-pencil"></a></button>
                <button type="button" class="btn btn-danger"><a class="icon-trash"></a></button>
                <button type="button" class="btn btn-success"><a class="icon-plus"></a></button>
            </div>
    </div>
 

    <div class="hijo card puntero">
        <img class="tamaño-imagen imagen" src="../../../assets/img/4.jpg">
            <div class="card-body">
                <h4 class="card-title">Elite</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <button type="button" class="btn btn-warning"><a class="icon-zoom-in-outline"></a></button>
                <button type="button" class="btn btn-primary"><a class="icon-pencil"></a></button>
                <button type="button" class="btn btn-danger"><a class="icon-trash"></a></button>
                <button type="button" class="btn btn-success"><a class="icon-plus"></a></button>
            </div>
    </div>
</div>